node_modules
.next/
.serverless_nextjs/
# Note: this directory contains state that is needed
# if you are deploying with serverless-next.js directly
# as this has the hash codes used for the S3 bucket and CloudFront dist
.serverless/
storybook-static/