html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
