.CellContainer {
  display: flex;
  flex: 1 0 100%;
  align-items: center;
  height: 100%;
  //background-color: blue;
  overflow: hidden;
  margin: 0 -5px;
  padding: 5px;
  border: 1px dashed transparent;
}

.BaseTable__row:hover,
.BaseTable__row--hover {
  .cell-container {
    border: 1px dashed #ccc;
  }
}

.FruitSelect {
  width: 100%;
  height: 30px;
  margin-top: 10px;
}
